@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: #e5e5e5; */
  background: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background: #ffffff;
  width: 870px;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* top players styles */

.top-players {
  margin-bottom: 30px;
}

.section-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
  /* gap: 16px; */
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* ==================
 Top Blogs Styles 
  ===================*/

.blogs {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 16px; */
  grid-row-gap: 26px;
}

.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

.blog-author a:hover {
  text-decoration: underline;
}

.blog-author a:active {
  color: #ff0101;
}

/* Course style  */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.course {
  width: 252.42px;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
  padding: 13px 16px 13px 11px;
}

.course-title {
  font-size: 20px;
  color: #1e1e1e;
}

.course-author {
  color: #ed6b4f;
  font-size: 15px;
}

.course .course-banner img {
  width: 224px;
  height: 104px;
}

.course-duration {
  font-size: 14px;
  color: #ed6b4f;
  background: #fee5df;
  border-radius: 14.6913px;
  padding: 4px 6px;
  margin-right: 25px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star i {
  color: #ffc014;
  font-size: 12px;
}

.star i:last-child {
  color: #aeaeae;
}

/* Media Query in Small Device */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .player,
  .blog {
    flex-direction: column;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media Query in Medium Device */

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
